<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.project.mapper.ProjectVersionConfigMapper">
    <select id="getProjectVersionConfigById" resultType="top.continew.admin.project.model.entity.ProjectVersionConfigDO">
        SELECT * FROM project_version_config WHERE id = #{id}
    </select>
</mapper>