<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.project.mapper.ProjectDataBaseConfigMapper">
    <select id="getProjectDataBaseConfigById" resultType="top.continew.admin.project.model.entity.ProjectDataBaseConfigDO">
        SELECT * FROM project_data_base_config WHERE id = #{id}
    </select>
</mapper>