<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.automation.mapper.AutomationUiSceneMapper">
    <select id="getAutomationUiSceneById" resultType="top.continew.admin.automation.model.entity.AutomationUiSceneDO">
        SELECT * FROM automation_ui_scene WHERE id = #{id}
    </select>
</mapper>